<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for signing up for the Daily Waiver Wire!</h1>
    <p>
    We provide tools that allow you to better manage your fantasy teams.<br/>
    </p>
    <p>
    Please let us know any tools that you want to help you win your fantasy league and we will build them!
    </p>
    <p>
    Please submit any ideas to dailywaiverwire@gmail.com
    </p>
    <p>
    Thank you,<br/>
    The Daily Waiver Wire Team
    </p>
  </body>
</html>