<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      The hottest player right now is puts "#{FreeAgent.first.first_name} " + "#{FreeAgent.first.last_name}"
    </p>
    <p>
    Thank you,
    The Daily Waiver Wire Team
    </p>
  </body>
</html>