
<!-- Launchrock widget code -->
<div rel="YX2D76QR" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="www.dailywaiverwire.com" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>

<!-- <h1>New user</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %> -->

