<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>The Daily Waiver wire</title>
</head>

<body>

	<header>
		<nav>
				<h1>The Daily Waiver Wire </h1>
		</nav>
	</header>
	
	<section>
	
		<label for="emailaddress">Email address <sup>*</sup></label>
		<input type="email" name="emailaddress" placeholder="anything@example.com" required />

		
	</section>

	<aside>
		<h2>About section</h2>
		<p></p>
	</aside>

	<footer>
		<p>Copyright 2012</p>
	</footer>

</body>

</html>