<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have an injury alert!</h1>
    <p>
    	Check the website!
    </p>

    <p>
    Thank you,<br/>
    The Daily Waiver Wire Team
    </p>
  </body>
</html>