<h1>Latest Player News</h1>

<p>
  Download:
  <%= link_to "CSV", players_path(format: "csv") %>
</p>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
  </tr>

<% @player_news.each do |player_news| %>
  <tr>
    <td><%= player_news.created_at.strftime("%d %b") %></td>
    <td><%= player_news.title %></td>
  </tr>
<% end %>
</table>


