<h1>Latest Player News</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Update</th>
    <th>News</th>
  </tr>

  <%= will_paginate @player_articles %>

<% @player_articles.each do |article| %>
  <% player = Player.find(article.player_id) %>
  <% article = PlayerFeed.find(article.player_feed_id) %>
  <tr>
    <td><%= link_to player.name, player %></td>
    <td><%= article.created_at.strftime("%d %b") %></td>
    <td><%= raw article.title %></td>
  </tr>
<% end %>

</table>
