<!DOCTYPE html>
<html lang="en"

<meta charset="UTF-8">
<link rel="stylesheet" href="style.css"


<header>
     <h1>The Daily Waiver Wire</h1>
</header>
<header>
     <hgroup>
         <p>Pick this guys up NOW!</p>
     </hgroup>
</header>


<%= render 'form' %>

<footer>
     <h3>Don't miss out on the next great keeper...</h3>
     <p>&copy; 2012 Daily Waver Wire Inc.</p> 
</footer>
