<p id="notice"><%= notice %></p>


<h1>Thank You! You will now recieve the daily waiver wire.</h1>
<p>
  <b>Email:</b>
  <%= @email.email %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', new_email_path %>
